img{
    border-radius: 20px;
}
#banner{
    width: 70%;
    margin-left: 15%;
}
.heading{
    margin-top: -500px ;
}

.home{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
}

.spinner{
    transform: scale(2);
}